@import url('https://fonts.googleapis.com/css?family=Lato');

body, html {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100% !important;
  margin: 0 5px 0 0;


}

/* =================================
  Side Navigation Menu
==================================== */

body {
  transition: background-color .5s;
}


.tablet-navbar {
  display: none;
}

.blogEntryTitle {
  display: none;
}

.container-large-screen {
  display: none;
}

.mobile-navbar{
  display: flex;
  justify-content: space-between;

}

.menuBackground {
  background-color: red;
  padding: 3%;
}
.logoContainer {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
}

.resoltz-top-logo {
  height: 70%;
  padding: 3% 3% 0 3%;
  width: 15%;
}

.trainer-text {
  text-align: center;
}
.mobile-navbar .fa.fa-bars{
  color: #fff;
  font-size: 2em;
}

.sidenav p {
  font-size: 1em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #07272d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.trainer-icon-read-me{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.buttons {
  color: #fff;
  display: flex;
  font-size: 2em;
  justify-content: space-between;
  position: absolute;
  margin: 5% 0;
  width: 100%;
}

.largeScreen {
  display: none;
}
.largeScreenButtons {
  display: none;
}

.postInfo {
  display: flex;
  flex-direction: column;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
    cursor: pointer;
  }
}


ul.topNavigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.trainer-profile-pic {
  height: auto;
  width: 100%;
}

.trainer-icon {
  height: auto;
  width: 5%;
}

.imgDateContainer img {
  width: 55px;
  height: 80px;
}

.imgDateSocialContainer {
  border: 4px solid rgb(215, 215, 212);
  display: flex;
  flex-direction: column;
  margin: 0 0 2% 0;
  padding: 5%;
}
.blogEntry {
  border: 4px solid rgb(215, 215, 212);
  display: flex;
  flex-direction: column;
  margin: 0 0 2% 0;
  padding: 5%;
}
.imgDateContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.dateBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100px;
  height: 80px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.date > p{
  margin: 0;
  padding: 0;
}

.postDayNum {
  font-size: 2em;
}

.socialIconsTagsContainer{
  border-top: 3px solid black;
  display: none;
  margin-top: 5%;
  padding-top: 5%;
}
.socialIcons {
  display: flex;
  justify-content: space-around;
}
.postTitle {
  display: flex;

  flex-direction: column;
}
.postTitle h1 {
  font-size: 2em;
  padding-top: 5%;
  text-align: center;
}
.titleUnderline{
  align-self: center;
  border-bottom: 2px solid black;
  margin: 0 0 10% 0;
  width: 15%;
}
.blogImages {
  height: auto;
  width: 100%;
}

.tagsContainer p {
  text-align: center;
}

.read-more {
  margin: 0 0 0 3%;
}

.blogEntryReadMore {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: black;
  color: #fff;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
}

.footer-social {
  margin: 0 3% 0 0;
}

.footer-social .fa {
  color: #fff;
  margin: 0 3% 0 0;
}

.input-contact {
  color: #fff;
  background-color: rgb(175, 174, 169);
}
.input-message {
  margin: 0 0 0 2%;
}
.quick-links {
  display: none;
}

.footer {
  padding: 2%;
}


/* =================================
  Media Queries
==================================== */

/* =================================
  Tablet Screen Media Query
==================================== */

@media (min-width: 768px) {
  .mobile-navbar {
    display:none;
  }

  .mobileScreen {
    display:none;
  }

  .smallScreenButtons {
    display: none;
  }

  .largeScreenButtons {
    display: flex;
  }

  .buttons {
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 2em;
    justify-content: space-between;
    margin: 1% 0;
    position: absolute;
    width: 100%;
  }

  .tablet-navbar{
    display: flex;
    flex-direction: row;
    margin: 2% 0 0 0;
    z-index: 1000;
  }

  .stuck{
    bottom: auto;
    position:fixed;
    top: -2.5%;
    width:100%;
    z-index:1000;
  }

  .resoltz-logo-large.top-nav{
    background-color: black;
    display: flex;
    justify-content: center;
  }

  img.resoltz-top-logo {
    cursor: pointer;
    padding: 4%;
    width: 50%;
  }

  .top-nav{
    align-items: center;
    background-color: red;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 20%;
  }

  .tablet {
    display: flex;
    flex-direction: row;
  }
  .mobileScreen {
    display:none;
  }

  .postInfo {
    display: flex;
    flex-direction: row;
  }

  .titleUnderline{
    align-self: center;
    border-bottom: 2px solid black;
    margin: 0 0 5% 0;
    width: 15%;
  }

  .blogEntryTitle {
    display:block;
  }

  .blogEntryTitle h1 {
    text-align: left;
    padding-top: 0;
  }

  .blogEntryTitle {
    display:block;
  }

  .largeScreen {
    display: flex;
  }

  .imgDateSocialContainer {
    margin: 2% 0;
  }

  .imgDateContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .socialIconsTagsContainer{
    border-top: 3px solid black;
    margin-top: 5%;
    padding-top: 5%;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .input-contact {
    display: block;
    margin: 5% 0;
  }
}



/* =================================
  Large Screen Media Query
==================================== */

@media (min-width: 1024px) {
  .mobileScreen {
    display:none;
  }
  .largeScreen {
    display: flex;
  }

  .container-small-screen {
    display: none;
  }

  .container-large-screen {
    display: flex;
  }

  .stuck{
    padding: -1% 0 0 0;
    top: -4.5%;
  }

  .buttons {
    color: #fff;
    display: flex;
    position: absolute;
    justify-content: space-between;
  }
  .postLeft{
    margin: 2% 2% 2% 2%;
    padding: 1%;
    width: 34%;
  }
  .postRight{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 2% 2% 2% 2%;
    padding: 1%;
    transition: 0.3s;
    width: 66%;
  }

  .postRight:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .blogEntry {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 2% 0;
    padding: 5%;
  }

  .socialIconsTagsContainer{
    border-top: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    padding-top: 5%;
  }

  .socialIcons{
    border-top: none;
    display: flex;
    font-size: 2em;
    justify-content: space-around;
    margin-top: 0%;
    padding-top: 0%;
  }

  .socialIcons i {
    color: black;
  }

  .imgDateSocialContainer {
    border: none;
  }

}
