<!-- Carousel -->
<section class="carousel">
  <div class="reel">

    <article>
      <a href="#" class="image featured"><img src="/img/coupleWallSquat.jpg" alt="" /></a>
      <header>
        <h3><a href="#">Pulvinar sagittis congue</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/femalePullUp.jpg" alt="" /></a>
      <header>
        <h3><a href="#">Fermentum sagittis proin</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/purpleTopAbs.jpg" alt="" /></a>
      <header>
        <h3><a href="#">Sed quis rhoncus placerat</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pinkOneLegPlank.jpg" alt="" /></a>
      <header>
        <h3><a href="#">Ultrices urna sit lobortis</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/dudesPushChallenge.jpg" alt="" /></a>
      <header>
        <h3><a href="#">Varius magnis sollicitudin</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pinkBraPushUp.jpg" alt="" /></a>
      <header>
        <h3><a href="#">Pulvinar sagittis congue</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/femalePullUp.jpg" alt="" /></a>
      <header>
        <h3><a href="#">Fermentum sagittis proin</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/dudeAbs.jpg" alt="" /></a>
      <header>
        <h3><a href="#">Sed quis rhoncus placerat</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
      <header>
        <h3><a href="#">Ultrices urna sit lobortis</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
      <header>
        <h3><a href="#">Varius magnis sollicitudin</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

  </div>
</section>
