<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../public/css/carousel.css">
</head>
<body>
  <div class="contain">
    <div class="row">
      <div class="row__inner">
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-1.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-2.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-3.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-4.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-5.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-6.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-7.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-8.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-9.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-10.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-11.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-12.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-13.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-14.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-15.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-16.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-17.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-18.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-19.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="words1">
    <h1>Let's put something here</h1>
  </div>
  <div class="words2">
    <h1>I want to learn more</h1>
  </div>
  <div class="words3">
    <h1>I can't find this</h1>
  </div>
</body>
</html>
